<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="text-center mb-4">
                <h3>Sign In</h3>
            </div>
            <form method="post" action="/signin/form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                {{#if err}}
                  <p class="text-danger">{{err}}</p>
                {{/if }}
                <div class="mb-3 form-check">
                    <a href="/signup">New User? Signup here..</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
